.navbar-brand{
    padding-top:15px;
    padding-bottom:15px;
    height:0px;
  }
    .opaque-navbar {
        background-color: rgba(0,0,0,0);
      /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
        border-bottom: 0px;
        transition: background-color .5s ease 0s;
    }

    .opaque-navbar.opaque {
        background-color: #002d48;
        transition: background-color .5s ease 0s;
    }

    ul.dropdown-menu {
        background-color: black;
    }

    @media (max-width:767px) {
      .navbar-inverse .navbar-collapse{
        background-color:#002d48;
        padding-right:20px;
      }

      .opaque-navbar {
          min-height: 60px;
          padding-top:5px;
          padding-bottom:5px;
      }

      .opaque-navbar.opaque {
          min-height: 60px;
          padding-top:5px;
          padding-bottom:5px;
      }

      .navbar-toggle{
          margin-top:10px;
          padding-top:10px;
          margin-bottom:10px;
        }

        .navbar-nav li a{
          padding-top:10px;
          padding-bottom:10px;
        }

        #brand-icon{
          height:30px;
        }  
    }
    @media (min-width:768px) {
      .navbar-inverse .navbar-collapse{
        background-color:rgba(0,0,0,0);
      }

      .opaque-navbar {
          min-height: 90px;
          padding-top:20px;
          padding-bottom:20px;
      }

      .opaque-navbar.opaque {
          min-height: 90px;
          padding-top:20px;
          padding-bottom:20px;
      }

      .navbar-nav li a{
        padding-top:20px;
        padding-bottom:20px;
      }

      #brand-icon{
        height:40px;
      }  
    }

    .navbar-inverse .navbar-toggle {
        border-color: rgba(0,0,0,0);
    }

    /* .navbar-collapse {
        background-color: #002d48;
    } */

    .navbar-inverse .navbar-nav > .active > a{
      color: #005caa;
      background-color: #ffc800;
      border-radius:15px;
    }

    .navbar-nav{
      color: #00a0e6;
    }

    .navbar-inverse .navbar-nav > li > a:hover{
      color: #87c8e6;
    }

    .navbar-inverse .navbar-toggle:hover{
      background-color: #002d48;
    }

    .navbar-inverse .navbar-nav > li > a{
      font-family: 'Montserrat', sans-serif;
      color: #00a0e6;
    }
